@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;800&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Barlow", Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header {
    border-bottom: 2px #32b9cd solid;
}

.header .container {
    justify-content: space-between;
}

.header li {
    color: #e3b062;
}

.header a {
    text-decoration: none;
    color: #e3b062;
}



.agora {
    font-weight: 800;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 500;
}

.banner {
    height: 430px;
    padding: 40px 0;
    color: white;
    background-image: url("../assets/bg-jelly-fish-para_outras_pags.png");
    background-size: cover;
}

.banner .container {
    height: 100%;
    width: 500px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
}

.banner .container .titulo {
    color: #e6005a;
    font-size: 36px;
}

.banner .container .form .container2 {
    margin-bottom: 20px;
    text-align: center;
    color: #e6005a;
}

.banner .container .form .container2 span {
    background-color: black;
    text-align: center;
    color: #e6005a;
}

.banner .container .textosform {
    color: #e6005a;
    text-align: start;
    font-size: 24px;
}

.banner .container .form .inputText {
    border: #32b9cd solid 2px;
    margin-bottom: 10px;
    height: 40px;
    width: 200px;
    border-radius: 15px;
    text-align: center;
}

.banner .container .form .button-form {
    margin-top: 10px;
    background-color: #e6005a;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 800;
    font-size: 18px;
    font-family: "Barlow", Tahoma, Geneva, Verdana, sans-serif;
}

.banner p {
    height: fit-content;
    margin: 0;
    padding: 0;
    width: 280px;
}

.banner .container span {
    font-weight: 800;
}

.rodape .container3 {
    background-color: #32b9cd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.rodape .container3 span p {
    text-align: center;
    color: #ffffff;
}

/*Feito com amor por um aluno ♥ SPTech 2023 */